// Japanese translation by Erzen (https://github.com/Erzen02)
// v1.0
Localization
{
  ja
  {
    // CONFIG
    // Manufacturers
    #LOC_HeatControl_manufacturer_kerbkastria_title = カーブカストリア株式会社
    #LOC_HeatControl_manufacturer_postkerbin_title = ポスト・カービン鉱業事業団

    #LOC_HeatControl_switcher_size_title = 構成設定

    #LOC_HeatControl_switcher_size_square_title = 角型
    #LOC_HeatControl_switcher_size_square_summary = 角型ラジエーターです
    #LOC_HeatControl_switcher_size_square_detail = <b>コア冷却</b>: 2 MW

    #LOC_HeatControl_switcher_size_double_title = ダブル型
    #LOC_HeatControl_switcher_size_double_summary = 二倍の長さのラジエーターです
    #LOC_HeatControl_switcher_size_double_detail = <b>コア冷却</b>: 4 MW

    #LOC_HeatControl_switcher_size_half_title = 1/2サイズ型
    #LOC_HeatControl_switcher_size_half_summary = 角型ラジエーターです
    #LOC_HeatControl_switcher_size_half_detail = <b>コア冷却</b>: 1 MW

    #LOC_HeatControl_switcher_size_twothirds_title = 2/3サイズ型
    #LOC_HeatControl_switcher_size_twothirds_summary = 2/3の長さのラジエーターです
    #LOC_HeatControl_switcher_size_twothirds_detail = <b>コア冷却</b>: 1.3 MW

    #LOC_HeatControl_switcher_size_third_title = 1/3サイズ型
    #LOC_HeatControl_switcher_size_third_summary = 1/3のサイズのラジエーターです
    #LOC_HeatControl_switcher_size_third_detail = <b>コア冷却</b>: 660 kW

    #LOC_HeatControl_switcher_size_45_title = 45度型
    #LOC_HeatControl_switcher_size_45_summary = 45度角のラジエーターです
    #LOC_HeatControl_switcher_size_45_detail = <b>コア冷却</b>: 1 MW

    #LOC_HeatControl_switcher_size_22_title = 22.5度型
    #LOC_HeatControl_switcher_size_22_summary = 22.5度角のラジエーターです
    #LOC_HeatControl_switcher_size_22_detail = <b>コア冷却</b>: 500 kW

    #LOC_HeatControl_switcher_size_30_title = 30度型
    #LOC_HeatControl_switcher_size_30_summary = 30度角のラジエーターです
    #LOC_HeatControl_switcher_size_30_detail = <b>コア冷却</b>: 660 kW

    #LOC_HeatControl_switcher_size_15_title = 15度型
    #LOC_HeatControl_switcher_size_15_summary = 15度角のラジエーターです
    #LOC_HeatControl_switcher_size_15_detail = <b>コア冷却</b>: 330 kW


    // PARTS
    // Curved Radiators
    #LOC_HeatControl_radiator-surface-125-1_title = YF-25 'エゼキエル' 高温ラジエーター
    #LOC_HeatControl_radiator-surface-125-1_description = YFシリーズのラジエーターは、宇宙船の機体にスムーズに取り付けられるように設計されています。そのため、冷却能力を若干犠牲にしています。このモデルは、1.25mサイズの機体に適合します。
    #LOC_HeatControl_radiator-surface-125-1_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control flat surface wrap

    #LOC_HeatControl_radiator-surface-25-1_title = YF-75 'ボルタ' 高温ラジエーター
    #LOC_HeatControl_radiator-surface-25-1_description = YFシリーズのラジエーターは、宇宙船の機体にスムーズに取り付けられるように設計されています。そのため、冷却能力を若干犠牲にしています。このモデルは、2.5mサイズの機体に適合します。
    #LOC_HeatControl_radiator-surface-25-1_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control flat surface wrap

    #LOC_HeatControl_radiator-surface-375-1_title =YF-150 'エイモス' 高温ラジエーター
    #LOC_HeatControl_radiator-surface-375-1_description = YFシリーズのラジエーターは、宇宙船の機体にスムーズに取り付けられるように設計されています。そのため、冷却能力を若干犠牲にしています。このモデルは、3.75mサイズの機体に適合します。
    #LOC_HeatControl_radiator-surface-375-1_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control flat surface wrap

    // Fixed radiators
    #LOC_HeatControl_radiator-fixed-1_title = VF-150 'ベータ' 高温ラジエーター
    #LOC_HeatControl_radiator-fixed-1_description = ベータというしゃれた名前のこの製品は、固定面ラジエーターなので、展開の必要無く効率よく冷却することができます。
    #LOC_HeatControl_radiator-fixed-1_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control

    #LOC_HeatControl_radiator-fixed-2_title = VF-25 'アルファ' High Temperature Radiator Fin
    #LOC_HeatControl_radiator-fixed-2_description = アルファ・ラジエータは小さなものですが、わずかな排熱が必要なときに効果的に冷却できます。
    #LOC_HeatControl_radiator-fixed-2_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control

    #LOC_HeatControl_radiator-fixed-3_title = VF-600 'ガンマ' 高温ラジエーター
    #LOC_HeatControl_radiator-fixed-3_description = VF-600は滅びの山の高温で鍛え上げられ、その結果、本当に多くの熱を放出することができます。
    #LOC_HeatControl_radiator-fixed-3_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control

    #LOC_HeatControl_radiator-fixed-4_title =  VF-2000 'デルタ' 高温ラジエーター
    #LOC_HeatControl_radiator-fixed-4_description = 巨大なVF-2000は、宇宙開発における熱対策の強力な武器となるでしょう。
    #LOC_HeatControl_radiator-fixed-4_tags = cool fixed heat moderat radiat static temperat therm heatcontrol control

    // Conformal Radiators
    #LOC_HeatControl_radiator-conformal-1_title = GR-50 高温ラジエーター
    #LOC_HeatControl_radiator-conformal-1_description = 0.625mの機体にぴったりと沿うように設計された、本当に小さな付随ラジエーターです。
    #LOC_HeatControl_radiator-conformal-1_tags =  cool deploy fold heat moderat radiat temperat therm heatcontrol control conformal retract unfold

    #LOC_HeatControl_radiator-conformal-2_title = GR-150 高温ラジエーター
    #LOC_HeatControl_radiator-conformal-2_description =  1.25mスタック専用に設計された、小型の付随ラジエーターです。
    #LOC_HeatControl_radiator-conformal-2_tags =  cool deploy fold heat moderat radiat temperat therm heatcontrol control conformal retract unfold

    #LOC_HeatControl_radiator-conformal-3_title = GR-1500 高温ラジエーター
    #LOC_HeatControl_radiator-conformal-3_description = 2.5mと3.75mのスタックによく合う、中型の付随ラジエターです。伸ばしたときのうねるような形状はカービンの浜辺に打ち寄せる波のように心地よく、冷却に寄与することが期待されています。
    #LOC_HeatControl_radiator-conformal-3_tags =  cool deploy fold heat moderat radiat temperat therm heatcontrol control conformal retract unfold

    // Deployable radiators
    #LOC_HeatControl_radiator-universal-1_title = XR-150 高温ラジエーター
    #LOC_HeatControl_radiator-universal-1_description = この展開型放熱器を取り付けると、排熱システムがさらにパワーアップします。小型のリアクターや小型エンジンの冷却に役立ちます。
    #LOC_HeatControl_radiator-universal-1_tags = cool deploy fold heat moderat radiat temperat therm heatcontrol control retract unfold

    #LOC_HeatControl_radiator-universal-2_title = XR-1000 高温ラジエーター
    #LOC_HeatControl_radiator-universal-2_description = このラジエーターはサイズが大きいため、小型のラジエーターよりもより多くの冷却が可能です。中型の原子炉や 高温のエンジンクラスターの冷却に有効です。
    #LOC_HeatControl_radiator-universal-2_tags = cool deploy fold heat moderat radiat temperat therm heatcontrol control retract unfold

    #LOC_HeatControl_radiator-universal-3_title = XR-1250 高温ラジエーター
    #LOC_HeatControl_radiator-universal-3_description = この複合ラジエーターモデルには3枚の中型伸縮式パネルが搭載されており、排熱効果が非常に高いのが特徴です。
    #LOC_HeatControl_radiator-universal-3_tags = cool deploy fold heat moderat radiat temperat therm heatcontrol control retract unfold

    // Microchannel Radiators
    #LOC_HeatControl_radiator-microchannel-1_title = DF-4K マイクロチャネル・グラフェン・ラジエーター
    #LOC_HeatControl_radiator-microchannel-1_description = 何百万本もの小さなチューブを通して冷却水を送り込む先進的な放熱器です。質量効率は抜群ですが、壊れやすいです。また、収納することができません。
    #LOC_HeatControl_radiator-microchannel-1_tags = cool deploy fold heat moderat radiat temperat therm heatcontrol control unfold graphene advanced

    #LOC_HeatControl_radiator-microchannel-2_title = DF-8K マイクロチャネル・グラフェン・ラジエーター
    #LOC_HeatControl_radiator-microchannel-2_description = 幅広のマイクロチャネル放熱器で、厄介な原子炉の熱を捨てることにも優れています。質量効率は抜群ですが、壊れやすく、収納できません。
    #LOC_HeatControl_radiator-microchannel-2_tags = cool deploy fold heat moderat radiat temperat therm heatcontrol control unfold graphene advanced

    #LOC_HeatControl_radiator-microchannel-fixed-1_title =EF-2K マイクロチャネル・グラフェン・ラジエーターパネル
    #LOC_HeatControl_radiator-microchannel-fixed-1_description = 先進的かつ固定式のマイクロチャネル放熱器です。非常に質量効率がよく、壊れにくくなっています。このモデルは汎用性があり、自身を含むほぼすべての表面に取り付けることができます。放射面積の大きさをカスタマイズするために、いくつかのバリエーションが用意されています。
    #LOC_HeatControl_radiator-microchannel-fixed-1_tags = cool static fold heat moderat radiat temperat therm heatcontrol control unfold graphene advanced

    #LOC_HeatControl_radiator-microchannel-fixed-2_title = EF-1K マイクロチャネル・グラフェン・ラジエーターパネル
    #LOC_HeatControl_radiator-microchannel-fixed-2_description = 先進的かつ固定式のマイクロチャネル放熱器です。このモデルは、あなたの尖った美的感覚のために三角形であり、ほぼすべての表面に取り付けることができます。放射エリアの大きさをカスタマイズするために、いくつかのバリエーションが用意されています。
    #LOC_HeatControl_radiator-microchannel-fixed-2_tags = cool static heat moderat radiat temperat therm heatcontrol control unfold graphene advanced

    // Heat Exchangers/sinks
    #LOC_HeatControl_heat-exchanger-125-1_title = EBR-250 熱交換器
    #LOC_HeatControl_heat-exchanger-125-1_description = エンジンなどの発熱部品の熱を蓄えることができる中型の熱交換器です。ただし、ラジエーターとしては使用できないので、冷却を最適にするために、そのような機器と組み合わせる必要があります。
    #LOC_HeatControl_heat-exchanger-125-1_tags = cool exchange heat moderat temperat therm heatcontrol control store

    #LOC_HeatControl_heat-exchanger-25-1_title = EBR-1000 熱交換器
    #LOC_HeatControl_heat-exchanger-25-1_description = エンジンなどの発熱部品の熱を蓄えることができる大型の熱交換器です。ただし、ラジエーターとしては使用できないので、冷却効果を高めるために、そのような機器と組み合わせて使用する必要があります。
    #LOC_HeatControl_heat-exchanger-25-1_tags = cool exchange heat moderat temperat therm heatcontrol control store

  }
}
