Localization
{
	ja
	{
		#autoLOC_SCANsat_Analyze		= データの分析
		#autoLOC_SCANsat_StartScan		= スキャンの開始
		#autoLOC_SCANsat_StopScan		= スキャンの停止
		#autoLOC_SCANsat_ToggleScan		= スキャンの切り替え
		#autoLOC_SCANsat_Extend			= 展開
		#autoLOC_SCANsat_Retract		= 収納
		#autoLOC_SCANsat_Unknown		= 不明
		#autoLOC_SCANsat_All_Disabled		= すべてのスキャンを無効化
		#autoLOC_SCANsat_Disabled		= スキャンが無効
		#autoLOC_SCANsat_TooLow			= 低すぎます
		#autoLOC_SCANsat_SubOptimal		= 可能な範囲
		#autoLOC_SCANsat_Ideal			= 理想的
		#autoLOC_SCANsat_TooHigh		= 高すぎます
		#autoLOC_SCANsat_NoData			= データ無し
		#autoLOC_SCANsat_Abundance		= 豊富
		#autoLOC_SCANsat_Surface		= 地表
		#autoLOC_SCANsat_AltitudeMin		= 高度 (最低): <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest		= 高度 (最適): <<1>>km\n
		#autoLOC_SCANsat_AltitudeMax		= 高度 (最大): <<1>>km\n
		#autoLOC_SCANsat_Types 			= <b>SCAN タイプ:</b>
		#autoLOC_SCANsat_Daylight 		= 日光が必要: <<1>>
		#autoLOC_SCANsat_FOV			= FOV: <<1>>
		#autoLOC_SCANsat_MapProjection		= 投影
		#autoLOC_SCANsat_MapType		= マップタイプ
		#autoLOC_SCANsat_MapResource		= 資源
		#autoLOC_SCANsat_MapBody		= 天体
		#autoLOC_SCANsat_GeneralSettings	= 一般設定
		#autoLOC_SCANsat_BackgroundSettings	= 背景設定
		#autoLOC_SCANsat_ResourceSettings	= 資源設定
		#autoLOC_SCANsat_DataManagement		= データ管理
		#autoLOC_SCANsat_ColorManagement	= カラー管理
		#autoLOC_SCANsat_ScanInfo = SCAN センサー
		#autoLOC_SCANsat_ScanInfoStatus = SCAN 状態
		#autoLOC_SCANsat_ScanInfoAltitude = SCAN 高度
		#autoLOC_SCANsat_ScanInfoType = SCAN タイプ
		#autoLOC_SCANsat_ScanInfoFOV = SCAN FOV
		#autoLOC_SCANsat_ScanInfoPower = SCAN 電力
		#autoLOC_SCANsat_ScanInfoDaylight = 日中の地表
		#autoLOC_SCANsat_ScanResourceDisplay = SCAN 資源
	}
}
